.containerElement {
  display: grid;
  grid-template-columns: 20% 1fr; 
  height: 100vh;
  gap: 1%; 
  padding: 0.6%; /* outer spacing */
  box-sizing: border-box;
}

.navBar, .contents {
  box-sizing: border-box;
  height: 100%;
  border-radius: 10px;
  padding: 20px;
}

.navBar {
  background: rgba(255, 255, 255, 0.2);
}

.contents {
  background: rgba(255, 255, 255, 0.2);
}
