.containerElement {
  display: grid;
  grid-template-columns: 20% 1fr; 
  /* height: 100vh; */
  gap: 1%; 
  padding: 0.6%; /* outer spacing */
  box-sizing: border-box;
}

.navBar, .contents {
  box-sizing: border-box;
  height: 100%;
  border-radius: 10px;
  padding: 20px;
}

.navBar {
  background: rgba(255, 255, 255, 0.5);
}

.contents {
  background: rgba(255, 255, 255, 0.9);
}

.todoInput {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 18px;
}

.addButton {
  display: block;    
  margin-top: 10px;
  /* margin-left: auto;   */
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  width: 100%;
}

.addButton:hover {
  background-color: #45a049;
}

.placeHolder {
  color: #888;
  font-size: 24px;
  text-align: center;
  display: flex;
  align-items: center;   /* vertical centering */
  justify-content: center; /* horizontal centering */
  height: 200px;         /* or any fixed height for placeholder box */
  margin: 0;             /* remove default margin */
}

.todoContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.todoBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: rgba(187, 187, 181, 0.5);
  border-radius: 8px;
}

.todoCheckbox {
  margin-right: 10px;
}

.todoText {
  flex: 1; /* take remaining space */
}

.deleteButton {
  padding: 5px 10px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: #f44336;
  color: white;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #d32f2f;
}