.header {
  text-align: center;
  font-size: 2.5rem;
  color: #070707;
  margin: 20px 0;
  font-family: poppins, sans-serif;
  background: rgba(255, 255, 255,.2); 
  border-radius: 10px;
  margin: .6%;
  padding: 50px;
  font-weight: bold;
}