*{
    margin: 0;
    padding: 0;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: radial-gradient(
    circle at center,
    #d6dce2 0%,     /* light center */
    #bdbfc2 40%,    /* mid-blue-gray */
    #565a5a 100%    /* darker bluish-gray edges */
  );
  min-height: 100vh;

  font-family: 'Poppins', sans-serif;

}